* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --mysticb: #091d36;
  --veniceb: #0b4c84;
  --danubeb: #598ec2;
  --irisb: #9bc1ee;
  --grayf: #f0eff5;
  --peach: #ff724c;
  --aquablue: #1e90ff;
  --gold: #ffa500;

  /* React colors */
  --primary: hsl(26, 93%, 50%);
  --hover: hsl(26, 90%, 42%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --text: hsl(240, 1%, 48%);
  --whiteDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

/* carousel */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  --webkit-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  color: var(--whiteDeam);
}

/* carousel size/ pictures */
.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  margin: 0 auto;
  background-position: center;
  background: center;
}

.outer-div {
  margin: 0;
  padding: 0;
}

#header {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  color: var(--whiteDeam);
}

body {
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #007bff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn.book-btn {
  background-color: var(--peach);
  color: var(--whiteDeam);
}

.btn.book-btn:hover {
  background-color: var(--irisb);
  color: var(--whiteDeam);
}

/* gallery */
.h1-text {
  color: var(--peach);
}

.ph-text {
  color: var(--aquablue);
}

.gallery {
  color: white;
  padding-top: 10px;
  background-color: var(--whiteDeam);
}

.gallery-bg {
  background-color: var(--greyBg);
}

.gallery .card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

/* .card {
  border-radius: 10px;
  transition: 0.5s;
  height: 500px;
  width: 100%;
} */

.card:hover {
  transform: scale(1.1);
}
.card {
  border-radius: 10px;
  transition: 0.5s;
  width: 100%;
  position: relative; /* Add this to position the .card-body element */
}

.card .card-img-top {
  object-fit: cover;
  height: 300px; /* Set a fixed height for the image */
  width: 100%;
}

.card .card-body {
  bottom: 0; /* Align the .card-body element to the bottom of the .card element */
  width: 100%;
}

.card-body {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Add a semi-transparent background color to make the content more readable */
}

.promo-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--peach);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  z-index: 1; /* Ensure the badge stays above the card content */
}

.promo-badge::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  border-style: solid;
  border-width: 7px;
  border-color: transparent var(--peach) transparent transparent;
}

body {
  background-size: cover;
  background-position: center;

  transition: background-image 1s ease;
}

/* Navigation bar  */
.navbar {
  transition: all 0.5s;
}
.navbar-scrolled {
  background-color: var(--mysticb);
}
.nav-link {
  color: var(--whiteDeam) !important;
  margin-left: 30px;
}
.iq-text {
  transition: all 0.5s;
}
.iq-texts {
  color: #f0eff5;
}
/* hamburger nav bar  */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M11 31h42'/%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M11 15h42'/%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M11 47h42'/%3e%3c/svg%3e");
}
.navbar-toggler {
  color: transparent;
  border-color: 1px solid var(--whiteDeam);
}

/* small screen nav bar  */
/* Custom CSS for adjusting login and signup buttons on smaller screens */
@media (max-width: 992px) {
  .nav-butts {
    margin-left: 50px;
    padding-bottom: 20px;
  }
}
/* end nav bar  */

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: -1;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.btn {
  background-color: var(--peach);
  color: var(--whiteDeam);
}

.btn:hover {
  background-color: var(--danubeb);
  color: var(--whiteDeam);
}

.form-container {
  max-width: 500px;
  margin: 50px auto;
  margin-left: 20px;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
}

.card {
  background-color: var(--greyBg);
  opacity: 90%;
}

.reg-text {
  padding: auto;
  margin-top: 50px;
  color: var(--aquablue);
}

.text-container {
  max-width: 500px;
}

.bg-reg {
  margin-top: 20px;
  background-color: transparent;
}

.offer-text {
  color: var(--aquablue);
}

.text-business {
  color: var(--whiteDeam);
}

.text-adventure {
  color: var(--peach);
}

.parags {
  color: var(--whiteDeam);
  text-align: justify;
}

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.parag {
  color: antiquewhite;
}

.no-hover-scale:hover {
  transform: none !important;
}

.navbar.navbar-expanded {
  background-color: var(--mysticb);
}

/* for nav bar updating  */
.bi {
  color: var(--primary);
}
.navbar-logo {
  max-height: 40px; /* Adjust this value as needed */
  height: auto;
  width: auto;
}
.arrow-down {
  color: var(--primary) !important;
}
