/* colors */
:root {
  --mysticb: #091d36;
  --veniceb: #0b4c84;
  --danubeb: #598ec2;
  --irisb: #9bc1ee;
  --grayf: #f0eff5;

  /* React colors  */
  --primary: hsl(26, 93%, 50%);
  --hover: hsl(26, 90%, 42%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --text: hsl(240, 1%, 48%);
  --whiteDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}
.body {
  background-image: url("../../pics/palawan.png");
  background-size: cover;
  background-position: center;
}

/* @media (min-width: 992px) {
  .body {
    overflow: hidden;
  }
} */

.card {
  background-color: var(--greyBg);
  opacity: 90%;
}
.card-header {
  max-width: 500px; /* Adjust the max-width as needed */
  margin-top: 20px; /* Adjust the top margin as needed */
  border: none;
}

.reg-text {
  padding: auto;
  margin-top: 50px;
  color: var(--veniceb);
}

.bg-reg {
  margin-top: 20px;
  background-color: transparent;
}

.offer-text {
  color: aqua;
}
.text-business {
  color: bisque;
}

.parag {
  color: antiquewhite;
}

.btn {
  background-color: var(--primary);
  color: var(--whiteDeam);
}
.btn:hover {
  background-color: var(--danubeb);
  color: var(--whiteDeam);
}

.no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}

.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card {
  background-color: var(--greyBg);
  opacity: 90%;
  overflow: hidden;
}

.reg-text {
  padding: auto;
  margin-top: 50px;
  color: var(--veniceb);
}

.bg-reg {
  margin-top: 20px;
  background-color: transparent;
}

.offer-text {
  color: aqua;
}
.text-business {
  color: bisque;
}

.parag {
  color: antiquewhite;
}

.btn {
  background-color: var(--primary);
  color: var(--whiteDeam);
}
.btn:hover {
  background-color: var(--danubeb);
  color: var(--whiteDeam);
}

.no-hover-scale:hover {
  transform: none !important;
}

/* nav bar  */

/* Navigation bar  */
.navbar {
  transition: all 0.5s;
  background-color: var(--mysticb);
}
.navbar-scrolled {
  background-color: var(--mysticb);
}
.nav-link {
  color: var(--whiteDeam) !important;
  margin-left: 30px;
}
.iq-text {
  transition: all 0.5s;
}
.iq-texts {
  color: #f0eff5;
}
/* hamburger nav bar  */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M11 31h42'/%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M11 15h42'/%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M11 47h42'/%3e%3c/svg%3e");
}
.navbar-toggler {
  color: transparent;
  border-color: 1px solid var(--whiteDeam);
}

/* small screen nav bar  */
/* Custom CSS for adjusting login and signup buttons on smaller screens */
@media (max-width: 992px) {
  .nav-butts {
    margin-left: 50px;
    margin-bottom: 20px;
  }
}

/* for nav bar updating  */

.navbar-logo {
  max-height: 40px; /* Adjust this value as needed */
  height: auto;
  width: auto;
}
.arrow-down {
  color: var(--primary) !important;
}
/* Custom CSS for centering links on the navbar */
@media (min-width: 992px) {
  .navbar-nav {
    flex-direction: row; /* Ensure links are aligned horizontally */
    justify-content: space-between; /* Spread links evenly */
    align-items: center; /* Center vertically */
  }

  .navbar-nav .nav-item {
    margin-left: 15px; /* Adjust spacing between links if needed */
  }

  .login-button {
    margin-left: 10px; /* Push the login button to the end */
  }
}
.toggle-btn {
  cursor: pointer;

  user-select: none;

  pointer-events: auto;

  background: transparent;

  border: none;

  right: 100px; /* Adjust as needed */
}
